				body{
				background-color: #202020;/*背景色rgb=2,2,2*/
				color: #dfdfdf;/*文字色*/
				font-family:  "MS PGothic", "Osaka", Arial, sans-serif;/*個人的に好きなプログラムが見やいフォント*/
				margin: 0;/*外の隙間無くす*/
				overflow-x: hidden;/*スクロール時のずれ防止(はみ出したやつが消える)*/
				width: 100%;
				text-align:center;
			}
			div{/*div全てに適用*/
				margin:0;/*隙間無くす*/
				overflow: hidden;
			}
			div.title{/*divかつtitleクラスを持つ要素に適用される*/
				font-size: calc(5vw + 20px);
				padding: 25px;
				font-family: Comic Sans MS;
				color: #1e90ff;
				background-image:url("a.png");
				background-size: cover;/*サイズ揃えるやつ*/
				background-position: center;
			}
			.g{
				text-align: center;
				font-size: 22px;
				padding: 15px;
				}
			.boxsh{
				box-shadow: inset 0 0 15px gray;
				font-size: 25px;
				padding: 15px;
			}
			a:link, a:visited{
				color: #ffffff;
				text-decoration: none;
			}
			a:hover, a:active{
				color: #666666;
			}
