				body{
				background-color: #202020;/*背景色rgb=2,2,2*/
				color: #dfdfdf;/*文字色*/
				font-family: HiraKakuPro-W6;/*個人的に好きなプログラムが見やいフォント*/
				margin: 0;/*外の隙間無くす*/
				overflow-x: hidden;/*スクロール時のずれ防止(はみ出したやつが消える)*/
				width: 100%;
				text-align:center;
			}
			div{/*div全てに適用*/
				margin:0;/*隙間無くす*/
				overflow: hidden;
			}
			div.title{/*divかつtitleクラスを持つ要素に適用される*/
				font-size: calc(5vw + 20px);
				padding: 25px;
				font-family: HiraKakuPro-W6;
				color: #1e90ff;
				background-image:url("hed.png");
				background-size: cover;/*サイズ揃えるやつ*/
				background-position: center;
			}
			p{
				font-size: 25px;
				padding: 15px;
			}
			.NCH{
				box-shadow: inset 0 0 15px gray;
			}
			a:link, a:visited{
				color: #ffffff;
				text-decoration: none;
			}
			a:hover, a:active{
				color: #666666;
			}
			/*ハンバーグメニュー*/
		nav {
			display: block;
			position: fixed;
			top: 0;
			left: -300px;
			bottom: 0;
			width: 300px;
			background: #696969;
			overflow-x: hidden;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
			transition: all .4s;
			z-index: 3;
			opacity: 0;
		}
		.open nav {
			left: 0;
			opacity: 1;
		}
		nav .inner {
			padding: 15px;
		}
		nav .inner ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}
		nav .inner ul li {
			position: relative;
			margin: 0;
			border-bottom: 1px solid #000; /*区切り線*/
		}
		nav .inner ul li a {
			display: block;
			color: #fff;
			font-size: 16px;
			padding: 1em;
			text-decoration: none;
			transition-duration: 0.4s;
		}
		nav .inner ul li a:hover {
			background: #808080;
		}
		.inner p{
		color:#fffffe;
		}
		@media screen and (max-width: 767px) {
			nav {
				left: -220px;
				width: 220px;
			}
		}
		/*============
		.toggle_btn
		=============*/
		.toggle_btn {
			display: block;
			position: fixed;
			top: 30px;
			right: 30px;
			width: 30px;
			height: 30px;
			transition: all .5s;
			cursor: pointer;
			z-index: 3;
		}
		.toggle_btn span {
			display: block;
			position: absolute;
			left: 0;
			width: 30px;
			height: 2px;
			background-color: #000; /*３本線いろ*/
			border-radius: 4px;
			transition: all .4s;
		}
		.toggle_btn span:nth-child(1) {
			top: 4px;
		}
		.toggle_btn span:nth-child(2) {
			top: 14px;
		}
		.toggle_btn span:nth-child(3) {
			bottom: 4px;
		}
		.open .toggle_btn span {
			background-color: #fff;
		}
		.open .toggle_btn span:nth-child(1) {
			-webkit-transform: translateY(10px) rotate(-315deg);
			transform: translateY(10px) rotate(-315deg);
		}
		.open .toggle_btn span:nth-child(2) {
			opacity: 0;
		}
		.open .toggle_btn span:nth-child(3) {
			-webkit-transform: translateY(-10px) rotate(315deg);
			transform: translateY(-10px) rotate(315deg);
		}
		/*============
		#mask
		=============*/
		#mask {
			display: none;
			transition: all .5s;
		}
		.open #mask {
			display: block;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #000;
			opacity: .8;
			z-index: 2;
			cursor: pointer;
		}
