	*{
		margin: 0;
		padding: 0;
	}
	body{
		font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
		background-color: #252525;
	}
	.title{
		text-shadow: 0px 0px 15px #66ff66;
		text-align: center;
		font-size: 45px;
		padding: 45px;
		font-family: Comic Sans MS; /*"photo/mainhead.jpg"*/
		background: url("../photo/syokai/mainhead.jpg");
		background-size: cover;
		background-position: center;
	}
	.block1{
		text-shadow: 0px 0px 15px #ffff0a;
		padding: 15px;
		font-size: 150%;
		text-align: center;
		color: #e6e6e6;
		background-color: #333333;
	}
	.block2,.block3,.block4,.block5,.block6{
		padding: 15px;
		font-size: 110%;
		text-align: center;
		color: #e6e6e6;
		background-color: #252525;
	}

	.block10{
		padding: 15px;
		font-size: 20px;
		text-align: center;
		color: #e6e6e6;
		background-color: #333333;
	}
	a:link{
		color: #ffffff;
		text-decoration: none;
		}
	a:visited{
		color: #ffffff;
		text-decoration: none;
		}
	a:hover{
		color: #b3b3b3;
		text-decoration: none;
		}
	a:active{
		color: #191919;
		text-decoration: none;
	}
	.btn{
		display: inline-block;
  padding: 2px 4px;
  border-radius: 5px;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient( 45deg, #6795fd, #5bdeff);
  transition: .2s;
	}
	.btn:hover{
		background-image: linear-gradient( 45deg, #6795fd, #51d3f9);
	}
	.btns{
		display: inline-block;
  padding: 2px 4px;
  border-radius: 5px;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient( 45deg, #fecc66, #fd8008);
  transition: .2s;
	}
	.btns:hover{
		background-image: linear-gradient( 45deg, #6795fd, #51d3f9);
	}
	/*ハンバーグメニュー*/
nav {
  display: block;
  position: fixed;
  top: 0;
  left: -300px;
  bottom: 0;
  width: 300px;
  background: #696969;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: all .4s;
  z-index: 3;
  opacity: 0;
}
.open nav {
  left: 0;
  opacity: 1;
}
nav .inner {
  padding: 15px;
}
nav .inner ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav .inner ul li {
  position: relative;
  margin: 0;
  border-bottom: 1px solid #000; /*区切り線*/
}
nav .inner ul li a {
  display: block;
  color: #fff;
  font-size: 16px;
  padding: 1em;
  text-decoration: none;
  transition-duration: 0.4s;
}
nav .inner ul li a:hover {
  background: #808080;
}
.inner p{
color:#fffffe;
}
@media screen and (max-width: 767px) {
  nav {
    left: -220px;
    width: 220px;
  }
}
/*============
.toggle_btn
=============*/
.toggle_btn {
  display: block;
  position: fixed;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  transition: all .5s;
  cursor: pointer;
  z-index: 3;
}
.toggle_btn span {
  display: block;
  position: absolute;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #fff; /*３本線いろ*/
  border-radius: 4px;
  transition: all .4s;
}
.toggle_btn span:nth-child(1) {
  top: 4px;
}
.toggle_btn span:nth-child(2) {
  top: 14px;
}
.toggle_btn span:nth-child(3) {
  bottom: 4px;
}
.open .toggle_btn span {
  background-color: #fff;
}
.open .toggle_btn span:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(-315deg);
  transform: translateY(10px) rotate(-315deg);
}
.open .toggle_btn span:nth-child(2) {
  opacity: 0;
}
.open .toggle_btn span:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(315deg);
  transform: translateY(-10px) rotate(315deg);
}
/*============
#mask
=============*/
#mask {
  display: none;
  transition: all .5s;
}
.open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .8;
  z-index: 2;
  cursor: pointer;
}
