				body{
				background-color: #202020;/*背景色rgb=2,2,2*/
				color: #dfdfdf;/*文字色*/
				font-family: HiraKakuPro-W6;/*個人的に好きなプログラムが見やいフォント*/
				margin: 0;/*外の隙間無くす*/
				overflow-x: hidden;/*スクロール時のずれ防止(はみ出したやつが消える)*/
				width: 100%;
				text-align:center;
			}
			div{/*div全てに適用*/
				margin:0;/*隙間無くす*/
				overflow: hidden;
			}
			div.title{/*divかつtitleクラスを持つ要素に適用される*/
				font-size: calc(5vw + 20px);
				padding: 35px;
				font-family: Comic Sans MS;
				color: #1e90ff;
				background-image:url("a.png");
				background-size: cover;/*サイズ揃えるやつ*/
				background-position: center;
			}
			.b,p{
				font-size: 30px;
			}
			.d,.g{
				padding: 25px;
			}
			.NCH{
				box-shadow: inset 0 0 15px gray;
			}
			a:link, a:visited{
				color: #ffffff;
				text-decoration: none;
			}
			.btn1{
			display: inline-block;
			padding: 0.5em 1em;
			text-decoration: none;
			background: #6699FF;/*ボタン色*/
			color: #FFF;
			border-bottom: solid 4px #6666FF;
			border-radius: 3px;
		}
		.btn1:active {
			/*ボタンを押したとき*/
			-webkit-transform: translateY(4px);
			transform: translateY(4px);/*下に動く*/
			border-bottom: none;/*線を消す*/
		}

		.k_btn{
	  display: inline-block;
	  padding: 0.5em 1em;
	  text-decoration: none;
	  background: #FF3333;/*ボタン色*/
	  color: #FFF;
	  border-bottom: solid 4px #CC3333;
	  border-radius: 3px;
	}
	.k_btn:active {
	  /*ボタンを押したとき*/
	  -webkit-transform: translateY(4px);
	  transform: translateY(4px);/*下に動く*/
	  border-bottom: none;/*線を消す*/
	}
